@inherits RazorFunction

@functions {
    override public string FunctionDescription
    {
        get { return "A function that displays a main menu"; }
    }

    [FunctionParameter(Label = "Show Home Page", DefaultValue = false)]
    public bool ShowHomePage { get; set; }

    [FunctionParameter(Label = "Expand on hover",
                       Help = "When this option is selected menu items will expand on mouse hover and clicks will navigate. When not selected or visitor is using a tablet, menu items will expand on click.",
                       DefaultValue = true)]
    public bool ExpandOnHover { get; set; }



    private IEnumerable<PageNode> OpenPages(PageNode selectedPageNode)
    {
        var openPages = new List<PageNode>();
        var openPage = selectedPageNode;

        while (openPage != null)
        {
            openPages.Add(openPage);
            openPage = openPage.ParentPage; // crawl up
        }

        return openPages;
    }
}
@{
    var pagenodes = Sitemap.CurrentHomePageNode.GetPageNodes(SitemapScope.Level2AndSiblings).ToList();
    if (!pagenodes.Any()) { return; }
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    <ul class="nav navbar-nav mega-menu @(ExpandOnHover ? "mega-menu-expandonhover" : "")">
        @if (ShowHomePage)
        {
        <li>
            <a href="@HomePageNode.Url">@HomePageNode.MenuTitle</a>
        </li>}
        @foreach (var page in pagenodes)
        {

            if (!string.IsNullOrEmpty(page.MenuTitle))
            {
                var isDropDown = page.ChildPages.Any(cp => !string.IsNullOrEmpty(cp.MenuTitle));
                var isActive = page.Id == CurrentPageNode.Id;
                var isOpen = OpenPages(CurrentPageNode).Any(op => op.Id == page.Id);
                <li class="@(isDropDown ? "dropdown" : string.Empty)">
                    <a href="@page.Url" class="@(isDropDown ? "dropdown-toggle" : string.Empty)" data-toggle="@(isDropDown ? "dropdown" : null)">
                        @page.MenuTitle
                        @if (isDropDown)
                        {
                            <b class="caret"></b>
                        }
                    </a>
                    @if (isDropDown)
                    {
                        <div class="dropdown-menu mega-dropdown-menu ">
                            <div class="mega-menu-headline">
                                <a href="@page.Url" title="@page.Title">
                                    @page.Title
                                </a>
                                @if (!string.IsNullOrWhiteSpace(page.Description))
                                {
                                    <div class="description">@page.Description</div>
                                }
                            </div>
                            @NavigationTree(page, 10)
                        </div>
                    }
                </li>
            }
        }
    </ul>
</body>
</html>

@helper NavigationTree(PageNode parentPage, int maxLevel)
{
    var pages = parentPage.ChildPages;

    var isOpen = OpenPages(@CurrentPageNode).Any(op => op.Id == parentPage.Id);
    var isSelected = @CurrentPageNode.Id == parentPage.Id;
    var pageLevel = parentPage.Level;
    <ul class="nav level-@(pageLevel)">
        @if (pages.Any())
        {
            foreach (var subPage in pages)
            {
                if (!String.IsNullOrWhiteSpace(subPage.MenuTitle))
                {
                    isOpen = OpenPages(@CurrentPageNode).Any(op => op.Id == subPage.Id);
                    isSelected = @CurrentPageNode.Id == subPage.Id;
                    var isHasChilds = subPage.ChildPages.Any(p => !string.IsNullOrEmpty(p.MenuTitle));
                    <li class="@(isOpen ? "open" : string.Empty)@(isSelected ? " active" : string.Empty)@(isHasChilds ? " has-childs" : string.Empty)">
                        <a href="@(subPage.Url)">@subPage.MenuTitle</a>
                        @if (pageLevel < maxLevel && (isOpen || pageLevel == 2))
                        {
                            @NavigationTree(subPage, maxLevel);
                        }
                    </li>
                }
            }
        }
    </ul>
}