@inherits CompositeC1WebPage
@{
    string stylesFolder = "~/Frontend/Styles";
    string jsFolder = "~/Frontend/Scripts";
    string websiteTitle = HomePageNode.Title;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="@Lang">
    <head>
        <title>@CurrentPageNode.Title</title>
        @if (!string.IsNullOrEmpty(CurrentPageNode.Description))
        {
            <meta name="description" content="@CurrentPageNode.Description" />
        }
        @PageTemplateFeature("Descriptive HTML head elements")
        <link rel="stylesheet" type="text/css" href="@Href(stylesFolder)/style.less" />
        <!--To ensure devices display responsive pages properly, include the viewport meta tag.-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        @* SCRIPTS *@
        <script id="modernizr-js" type="text/javascript" src="@Href(jsFolder)/libs/modernizr-2.6.1-respond-1.1.0.min.js"></script>
        <script id="jquery-js" src="//code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="@Href(jsFolder)/libs/bootstrap/3.0.0/bootstrap.min.js"></script>
        <script type="text/javascript" src="@Href(jsFolder)/script.js"></script>
    </head>
    <body>
        <header class="navbar navbar-default navbar-static-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a href="@HomePageNode.Url" class="navbar-brand">@websiteTitle</a>
                </div>
                <div class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                    @PageTemplateFeature("Main Navigation")
                    <div class="pull-right">
                        @PageTemplateFeature("Service Menu")
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            @* renders the sub template: *@
            @RenderBody()

            @PageTemplateFeature("Content Footer")
            <hr />
            <footer role="contentinfo">
                @PageTemplateFeature("Page Footer")
            </footer>
        </div>
    </body>
</html>