@inherits RazorPageTemplate
@functions {
    public override void Configure()
    {
        TemplateId = new Guid("ea2ca748-efbf-4d94-8e2a-11ce49b71cd5");
        TemplateTitle = "3 columns";
        Layout = "MasterLayout.cshtml";
    }

    [Placeholder(Id = "content", IsDefault = true)]
    public XhtmlDocument Content { get; set; }

    [Placeholder(Id = "aside")]
    public XhtmlDocument Aside { get; set; }

    [Placeholder(Id = "jumbotron")]
    public XhtmlDocument Jumbotron { get; set; }
}
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        @*you can add template specific head elements here*@
    </head>
    <body>
        @PageTemplateFeature("Content Start")
        @Function("Layout.Jumbotron", new { CustomContent = this.Jumbotron })
        <div class="row">
            <div class="col-xs-3">
                <div class="well sidebar-nav">
                    @PageTemplateFeature("Navigation Column")
                </div>
            </div>
            <div class="col-xs-5">
                @Markup(Content)
            </div>
            <div class="col-xs-4">
                @Markup(Aside)
                @PageTemplateFeature("Aside Column")
            </div>
        </div>
    </body>
</html>