@inherits CompositeC1WebPage

@{
	var stylesFolder = "~/Frontend/Styles";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>@CurrentPageNode.Title</title>
	<!-- The 1140px Grid -->
	<link rel="stylesheet" href="@Href(stylesFolder)/Core/1140.css" type="text/css" media="screen" />
	<!--[if lte IE 9]><link rel="stylesheet" href="@Href(stylesFolder)/Core/ie.css" type="text/css" media="screen" /><![endif]-->
	<!-- Put your layout here -->
	<link rel="stylesheet" href="@Href(stylesFolder)/styles.less" type="text/css" media="screen" />
	
	@if (!string.IsNullOrEmpty(CurrentPageNode.Description))
	{
		<meta name="Description" content="@CurrentPageNode.Description"/>
	}
	<f:function xmlns:f="http://www.composite.net/ns/function/1.0" name="Composite.Web.Html.Template.CommonMetaTags">
		<f:param name="Designer" value="Composite C1 starter site" />
	</f:function>
</head>
<body>
	<div class="container" id="wrapper">
		<div class="row">
			<div id="top-links" class="twelvecol last">
				@Html.C1().Function("Composite.Navigation.LanguageSwitcher", new { Mode = "TranslatedOrHomePages", ShowCurrent = false, Format = "NativeName" })
				@Html.C1().Function("Layout.Navigation.TopLinks")
			</div>
		</div>
		<div id="header" class="row">
			<div class="twelvecol last">
				<div id="Logo">
					<a href="@HomePageNode.Url"></a>
				</div>
				@Html.C1().Function("Layout.Navigation.Menu")
				<div id="HeaderImage"></div>
			</div>
		</div>
		<div class="row">
			@RenderBody()
		</div>
	</div>
	<div class="container" id="footer">
			<div class="row">
				<div class="twelvecol last">
					<a href="http://www.composite.net/">Powered by Composite C1, Free Open Source .NET CMS</a>
				</div>
			</div>
		</div>
	
</body>
</html>
