@inherits RazorFunction
@using System.Web.Caching
@using Composite.Core.WebClient.Renderings.Page
@functions {
	public override string FunctionDescription
	{
		get { return "Adds the Facebook Page Plugin to a web page."; }
	}

	[FunctionParameter(Label = "Facebook Page URL", Help = "The URL of the Facebook Page. For example, http://www.facebook.com/CompositeC1")]
	public string URL { get; set; }


	[FunctionParameter(Label = "Options", Help = "Options to customize the Page Plugin's appearance.", DefaultValue = "Adapt to plugin container width,Show Friends’ Faces,Show Posts",
					 WidgetMarkup = @"<f:widgetfunction xmlns:f=""http://www.composite.net/ns/function/1.0"" name=""Composite.Widgets.String.Selector""><f:param name=""Options""><f:function name=""Composite.Utils.String.Split""><f:param name=""String"" value=""Adapt to plugin container width,Show Friends’ Faces,Use Small Header,Hide Cover Photo,Show Posts"" /></f:function></f:param><f:param name=""Multiple"" value=""True"" /><f:param name=""Required"" value=""False"" /></f:widgetfunction>")]
	public string Options { get; set; }


	private XDocument GetXml(string url)
	{

		if (HttpContext.Current.Cache[url] == null)
		{
			HttpContext.Current.Cache.Add(url, XDocument.Load(url),
							 null, DateTime.Now.AddSeconds(3600),
							 Cache.NoSlidingExpiration,
							 CacheItemPriority.Default,
							 null);
		}
		return HttpContext.Current.Cache[url] as XDocument;
	}
}
@{
	if (PageRenderer.RenderingReason == RenderingReason.ScreenshotGeneration)
	{
		return;
	}
	var cultures = GetXml("http://www.facebook.com/translations/FacebookLocales.xml");
	var currentCulture = System.Threading.Thread.CurrentThread.CurrentCulture.Name.Replace("-", "_");
	currentCulture = cultures.Descendants("representation").Any(c => c.Value == currentCulture) ? currentCulture : "en_US";
	var showFaces = Options.Contains("Show Friends’ Faces").ToString().ToLower();
	var showStream = Options.Contains("Show Posts").ToString().ToLower();
	var useSmallHeader = Options.Contains("Use Small Header").ToString().ToLower();
	var hideCover = Options.Contains("Hide Cover Photo").ToString().ToLower();
	var adaptToContainerWidth = Options.Contains("Adapt to plugin container width").ToString().ToLower();
	

}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
	<div id="fb-root"></div>
	<script type="text/javascript">
		/* <![CDATA[ */
		(function (d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/@(currentCulture)/sdk.js#xfbml=1&version=v2.5";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		/* ]]> */
	</script>
	<div class="fb-page"
		 data-width="500"
		 data-href="@URL"
		 data-small-header="@useSmallHeader"
		 data-adapt-container-width="@adaptToContainerWidth"
		 data-hide-cover="@hideCover"
		 data-show-facepile="@showFaces"
		 data-show-posts="@showStream">
		<div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div>
	</div>
</body>
</html>